name: Update powershell

on:
  workflow_call:
    inputs:
      formula_name:
        required: true
        type: string

jobs:
  update:
    runs-on: ubuntu-24.04

    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v6

      - name: Prereqs
        uses: ./.github/actions/prereqs

      - name: Current version
        id: current-version
        uses: ./.github/actions/cur_ver
        with:
          formula_name: ${{ inputs.formula_name }}

      - name: Update ${{ inputs.formula_name }}
        id: update
        run: |
          set -euxo pipefail

          release=$(curl -fsSL https://api.github.com/repos/PowerShell/PowerShell/releases/latest)

          version=$(jq -r '.tag_name | ltrimstr("v")' <<< "$release")
          export version

          if [[ "$version" > "$(sort -V <<<"$(echo "$version"; echo "${{steps.current-version.outputs.CUR_VERSION}}")" | head -n1)" ]]; then
            shas=$(jq --arg ver "$version" '[.assets[] | select((.browser_download_url | contains("linux-arm64.tar") or contains("linux-x64.tar") or contains("osx-arm64.tar") or contains("osx-x64.tar"))) | {key: (.name | sub("powershell-" + $ver; "sha256") | sub(".tar.gz"; "") | gsub("-"; "_")), value: (.digest | ltrimstr("sha256:"))}] | from_entries' <<< "$release")
            for item in sha256_{linux,osx}_{arm64,x64}
            do
              declare -x "$item"="$(jq -r --arg item "$item" '.[$item]' <<< "$shas")"
            done

            envsubst < ./.github/workflows/${{ inputs.formula_name }}.rb.tpl > ./Formula/${{ inputs.formula_name }}.rb

            echo "NEW_VERSION=$version" >> "$GITHUB_OUTPUT"
          fi

      - name: Create Pull Request
        if: steps.update.outputs.NEW_VERSION
        uses: peter-evans/create-pull-request@v8
        with:
          commit-message: Update ${{ inputs.formula_name }} to v${{steps.update.outputs.NEW_VERSION}}
          title: Update ${{ inputs.formula_name }} to v${{steps.update.outputs.NEW_VERSION}}
          branch: update-${{ inputs.formula_name }}
          reviewers: ${{ github.repository_owner }}
          draft: always-true
