name: Update bicep

on:
  workflow_dispatch:

jobs:
  update-bicep:
    runs-on: ubuntu-24.04

    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v6

      - name: Prereqs
        run: |
          set -euxo pipefail
          command -v envsubst || (apt-get update && apt-get -y install gettext)

      - name: Current version
        id: current-version
        run: |
          CUR_VERSION=$(grep -oP "version \"\K[\d.]+(?=\")" Formula/bicep.rb)

          echo "CUR_VERSION=$CUR_VERSION" >> "$GITHUB_OUTPUT"

      - name: Update bicep
        id: update-bicep
        run: |
          set -euxo pipefail

          release=$(curl -fsSL https://api.github.com/repos/Azure/bicep/releases/latest)

          version=$(jq -r '.name | ltrimstr("v")' <<< "$release")
          export version

          if [[ "$version" > "$(sort -V <<<"$(echo "$version"; echo "${{steps.current-version.outputs.CUR_VERSION}}")" | head -n1)" ]]; then
            shas=$(jq '[.assets[] | select((.browser_download_url | contains("linux") or contains("osx")) and (.browser_download_url | contains("nupkg") | not)) | {key: (.name | sub("bicep"; "sha256") | gsub("-"; "_")), value: (.digest | ltrimstr("sha256:"))}] | from_entries' <<< "$release")
            for item in sha256_{linux,osx}_{arm64,x64}
            do
              declare -x "$item"="$(jq -r --arg item "$item" '.[$item]' <<< "$shas")"
            done

            envsubst < ./.github/workflows/bicep.rb.tpl > ./Formula/bicep.rb

            echo "NEW_VERSION=$version" >> "$GITHUB_OUTPUT"
          fi

      - name: Create Pull Request
        if: steps.update-bicep.outputs.NEW_VERSION
        uses: peter-evans/create-pull-request@v8
        with:
          commit-message: Update bicep to v${{steps.update-bicep.outputs.NEW_VERSION}}
          branch: update-bicep
          assignees: $GITHUB_REPOSITORY_OWNER
